<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img src="../../../assets/Imágenes/icon.png" alt="Ícono" width="40px">
        iBiblioteca
      </ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <!-- iBiblioteca -->
    <ion-card class="tarjeta">
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
      <ion-card-content>
        iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar 
        una biblioteca de un centro educativo.<br>
        Para acceder a la biblioteca pulsa en el siguiente botón:
      </ion-card-content>
      <ion-button routerLink="/ibiblioteca" color="danger" expand="full">
        <ion-icon name="layers"></ion-icon>
        Acceso a iBiblioteca
      </ion-button>
    </ion-card>

    <!-- Autor -->
    <ion-card class="tarjeta">
      <ion-card-title>Información sobre el autor</ion-card-title>
      <ion-card-content>
        Aplicación desarrollada por Javier Gallego.
      </ion-card-content>
      <ion-button routerLink="/autor" color="danger" expand="full">
        <ion-icon name="school"></ion-icon>
        Consultar información
      </ion-button>
    </ion-card>
  </ion-content>
</ion-app>