<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar> </ion-header
  >,
  <ion-content fullscreen>
    <ion-card>
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
      <ion-card-content>
        iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar 
        una biblioteca de un centro educativo.<br>
        Para acceder a la biblioteca pulsa en el siguiente botón:
      </ion-card-content>
      <!--<ion-button href="#">Acceso a iBiblioteca</ion-button>-->
      <ion-button>
        <ion-icon href="ibiblioteca" name="layers"></ion-icon>
        Acceso a iBiblioteca
      </ion-button>
    </ion-card>
    <ion-card>
      <ion-card-title>Información sobre el autor</ion-card-title>
      <ion-card-content>
        Aplicación desarrollada por Javier Gallego.
      </ion-card-content>
      <ion-button>
        <ion-icon href="autor" name="school"></ion-icon>
        Consultar información
      </ion-button>
    </ion-card>
  </ion-content>
</ion-app>