<ion-header>
  <ion-toolbar>
    <ion-title>autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-title>Autor</ion-card-title>
    <ion-card-content>
      iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar 
      una biblioteca de un centro educativo.<br>
      Para acceder a la biblioteca pulsa en el siguiente botón:
    </ion-card-content>
    <ion-button>
      <ion-icon href="#" name="layers"></ion-icon>
      Currículum Vitae
    </ion-button>
    <ion-button>
      <ion-icon href="#" name="layers"></ion-icon>
      Correo:
    </ion-button>
    <ion-button>
      <ion-icon href="#" name="layers"></ion-icon>
      Twitter:
    </ion-button>
  </ion-card>
</ion-content>
