<ion-header>
  <ion-toolbar>
    <ion-title>autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-title>Autor</ion-card-title>
    <ion-card-content>
      iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar
      una biblioteca de un centro educativo.<br>
      Para acceder a la biblioteca pulsa en el siguiente botón:
    </ion-card-content>
    <ion-item>
      <ion-label>
        <ion-icon href="#" name="book-outline"></ion-icon>
        Currículum Vitae
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon href="#" name="mail-outline"></ion-icon>
        Correo: gmail@gmail.com
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon href="#" name="logo-twitter"></ion-icon>
        Twitter: @twitter
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon href="#" name="call"></ion-icon>
        Teléfono: 900 900 900
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>